<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container"></div>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav ml-auto">
        <!-- {% if user.is_authenticated %}
        {% else %} -->
        <li class="nav-item {% if 'add' in request.path %}active{% endif %} mr-3">
          <a class="nav-link" href="{% url 'courses:list' %}">
            <i class="fas fa-user-plus"></i> Courses
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<style>
  .navbar-brand img.logo {
    height: 40px;
  }
  .nav-link {
    font-size: 1.1rem;
    font-weight: 500;
  }
  .nav-item.active .nav-link {
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
  }
  .nav-item .nav-link:hover {
    color: #fff;
    background-color: #0056b3;
    border-radius: 5px;
  }
</style>
